@import "reset.css";

body {
    width: 1366px;
    height: 912px;
    background-image: url("../img/backgroung.png");
    background-repeat: no-repeat;
}

.header {
    height: 56px;
    background-color: rgba(0, 0, 0, 0.45);
    margin: 0;
    text-align: center;
}

.header-information {
    display: inline-block;
    width: 1210px;
    margin-left: 81px;
    margin-bottom: 65px;
    padding-top: 18px;
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.header-word {
    display: inline-block;
    width: 110px;
}

.message-line {
    display: inline-block;
    width: 1000px;

    text-align: right;
}

.images {
    display: inline-block;
    text-align: right;
}

.img {
    display: inline-block;
    padding-left: 28px;
}

.img1 {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url("../img/sprites1.png");
    background-position: -10px -10px;
    padding-left: 20px;
}

.img1:hover {
    background: url("../img/sprites1.png");
    background-position: -48px -10px;
}

.img2 {
    display: inline-block;
    width: 28px;
    height: 20px;
    background: url("../img/sprites2.png");
    background-position: -10px -10px;
    padding-left: 20px;
}

.img2:hover {
    background-position: -57px -10px;;
}

.img3 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/sprites3.png");
    background-position: -10px -10px;
}

.img3:hover {
    background-position: -50px -10px;
}

.header-inline-message {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 50px;
}

.letters {
    color: #3e9f6a;
    text-decoration: none;
}

.letters:hover {
    color: #3e9f6a;
    border-bottom: 1px solid #3e9f6a;
}

.form {
    width: 448px;
    height: 582px;
    margin-top: 70px;
    margin-left: 461px;
    border-radius: 10px;
    background-color: white;
    border: none;
}

.form-header {
    display: inline-block;
    width: 325px;
    height: 20px;
    margin-left: 60px;
    margin-top: 23px;
}

.green-block {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 461px;
    top: 153px;
}

.heat {
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
    text-align: center;

}
 .link {
     display: inline-block;
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
     font-size: 14pt;
     color: rgba(60, 184, 120, 255);
     text-align: right;
     margin-left: 173px
 }

 .buttons {
     display: inline-block;
     height: 46px;
     width: 322px;
     margin-top: 15px;
     margin-left: 62px;
 }

 .button-face {
     display: inline-block;
 }
 .button-face a {
     display: inline-block;
     text-decoration: none;
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
     font-size: 16pt;
     width: 88px;
     background-color: #264b96;
     color: #ffffff;
     border: none;
     border-radius: 3px;
     padding: 12px 15px 12.5px 15px;
     position: relative;
     margin-left: 38px;
 }

.button-face a:before{
    display: inline-block;
    content: url("../img/fcbk.png");
    width: 48px;
    height: 46px;
    position: absolute;
    top: 0px;
    left: -40px;
    border-radius: 4px;
    border-bottom: #264b96;
}
.button-google {
    display: inline-block;
    margin-left: 55px;
}

.button-google a {
    display: inline-block;
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16pt;
    width: 75px;
    background-color: #c3412c;
    color: #ffffff;
    border: none;
    border-radius: 3px;

    padding: 12px 16px 12.5px 16px;
    position: relative;
}

.button-google a:before {
    display: inline-block;
    content: url("../img/ggl.png");
    position: absolute;
    border-radius: 4px;
    top: 0px;
    left: -47px;

}

 .or {
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
     font-size: 14pt;
     color: rgba(132, 132, 132, 255);
     margin-left: 62px;
     margin-bottom: 18px;
 }
 .decoration-line {
     display: inline-block;
     height: 1px;
     width: 137px;
     background-color: #eaeaea;
     border: none;
     margin-top: 37px;
 }

 .information {
     margin-left: 62px;
     margin-bottom: 22px;
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
     font-size: 14pt;
     color: rgba(190, 190, 190, 255);
 }

 .name,
 .last-name,
 .email,
 .password {
     width: 303px;
     height: 46px;
     padding: 0 0 0 17px;
     border: 1px solid #eaeaea;
     border-radius: 4px;
     margin-bottom: 9px;
 }

 .name:focus {
    box-shadow: 0 0 10px rgba(46, 45, 42, 0.47);
    border: none;
}

.name::placeholder {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14pt;
    color: rgba(190, 190, 190, 255);
}

 .last-name:focus {
     box-shadow: 0 0 10px rgba(46, 45, 42, 0.47);
     border: none;
 }

.last-name::placeholder {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14pt;
    color: rgba(190, 190, 190, 255);
}

.email:focus {
    box-shadow: 0 0 10px rgba(46, 45, 42, 0.47);
    border: none;
}

.email::placeholder {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14pt;
    color: rgba(190, 190, 190, 255);
}

.password:focus {
    box-shadow: 0 0 10px rgba(46, 45, 42, 0.47);
    border: none;
}

.password::placeholder {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14pt;
    color: rgba(190, 190, 190, 255);
}

.checkbox-information {
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14pt;
    margin-left: 62px;
    margin-bottom: 20px;
}

.link-checkbox {
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14pt;
    color: rgba(60, 184, 120, 255);
}

label input {
    display: none;
}

label span {
    height: 12px;
    width: 12px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
}

[type=checkbox]:checked + span::before {
    content: '\2714';
    position: absolute;
    top: -2px;
    left: 0;
    font-size:23px;
    color:green;
}

.create-button-inf {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    width: 322px;
    height: 46px;
    border: none;
    background-color: #329a65;
    border-radius: 4px;
    margin-left: 62px;
}